<div class="container">
  <h1>Drake Day!</h1>
  <%= @song %> <br>
  <%= @song.title %> <br>
  <%= @song.artist %> <br>
  <%= @media.type %> <br>
  <%= @media.provider %> <br>
  <%= @media.url %> <br>
  <% if @embed_info %>
    <%= @embed_info['html'] %> <br>
  <% end %>
</div>
